@use '../../_foundation/' as *;

.m-heading-01 {
    margin: 0 auto 96px;

    &__inner {
        width: fit-content;
        margin: 0 auto;
    }

    &__text {
        color: var(--COLOR_FONT);
        font-size: px-to-rem(48);
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 8px dotted var(--COLOR_BTN);
    }
}

.m-heading-02 {
    margin: 0 auto 64px;

    &__inner {
        width: fit-content;
        margin: 0 auto;
    }

    &__text {
        color: var(--COLOR_FONT);
        font-size: px-to-rem(32);
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 8px dotted var(--COLOR_BTN);
    }
}

.m-heading-03 {
    margin: 0 auto 48px;

    &__inner {
        width: fit-content;
        margin: 0 auto;
    }

    &__text {
        color: var(--COLOR_FONT);
        font-size: px-to-rem(24);
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 8px dotted var(--COLOR_BTN);
    }
}