@use '../../_foundation/' as *;

.m-text {
    color: var(--COLOR_FONT);
}

.m-texts {
    color: var(--COLOR_FONT);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.m-leadText {
    color: var(--COLOR_FONT);
    font-size: px-to-rem(32);
}

.m-leadCenterText {
    color: var(--COLOR_FONT);
    font-size: px-to-rem(32);
    text-align: center;
}