<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description“ content=““>
    <title>template</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <!-- Splide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <!-- メインスクリプト -->
    <script src="/js/main.js" defer></script>
</head>

<body class="body">
    <!-- ヘッダー -->
    <header class="header">
        <div class="hamburger" id="hamburger">
            <button class="hamburger__btn" id="hamburger__btn">
                <span class="hamburger__line"></span>
            </button>
            <div class="hamburger__caption">メニュー</div>
        </div>
        <div class="header__inner">
            <ul class="header__nav">
                <li class="header__item"><a href="/" class="header__text">Top</a></li>
                <li class="header__item"><a href="/#anc-01" class="header__text">Profile</a></li>
                <li class="header__item"><a href="/#anc-02" class="header__text">これまでの実績</a></li>
                <li class="header__item"><a href="/#anc-03" class="header__text">できること・スキル</a></li>
                <li class="header__item"><a href="/#anc-04" class="header__text">少しでも気になった方はこちらから！</a></li>
            </ul>
        </div>
        <div class="header__background"></div>
    </header>
    <main>
        <div class="container">
            <div class="section01">
            <div class="m-heading-01">
                <div class="m-heading-01__inner">
                    <h1 class="m-heading-01__text">見出しモジュール01</h1>
                </div>
            </div><!-- /.m-heading-01 -->
            <p class="m-text">テキストモジュール</p>
            <div class="m-media">
                <div class="m-media__inner">
                    <img src="/_mlc/module/images/dummy.png" alt="" width="120" height="120" class="m-media__media">
                    <p class="m-media__text">キャプション</p>
                </div><!-- /.m-media__inner -->
            </div><!-- /.m-media -->
            </div><!-- /.section-01 -->
        </div><!-- /.container -->
    </main>
    <footer class="footer">
        <div class="footer__inner js-scroll-fadeinup">
            <div class="footer__content">
                <p class="footer__title" id="anc-04">少しでも気になった方はこちらから！</p>
                <div class="footer__textArea">
                    <p class="footer__text">「こんなサイト作れる？」「ちょっと相談したい」など、ラフなご相談も大歓迎です。</p>
                    <p class="footer__text">どんなことでもお気軽にどうぞ！</p>
                </div>
                <div class="m-btn">
                    <a href="mailto:syukatomi@gmail.com" class="m-btn__inner">
                        <span class="m-btn__text">ご連絡はこちら</span></a>
                </div><!-- /.m-btn -->
            </div> <!-- /.footer__content -->
        </div><!-- /.footer__inner -->
    </footer><!-- /.footer -->
</body>

</html>